body {
    font-family: 'Trebuchet MS', sans-serif;
    accent-color: #00adef;
}

.the-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}

.the-main {
    margin-top: 20px;
}

.the-side{
    grid-row-start: 1;
    grid-column-start: 2;
    margin-top:0px;
    margin-bottom: 20px;
    z-index: 2;
}
.grid2 {
    display: grid;
    justify-items: center;
    grid-row-start: 1;
    grid-column-start: 2;
}

.the-behind {
    width: 360px;
    height: 640px;
    background: LightGray;
    z-index: -1;
    border-radius: 20px;
}

h1 {
	color: black;
	text-align:center;
}

.sliders {
    display:inline-block;
    line-height:20px;
    height:20px;
}

.slider:hover:enabled {
    cursor:pointer;
}

.dropdown:hover {
    cursor:pointer;
}

.images {
    margin:1%;
    border-radius:4px;   
}

.centered {
    text-align: center;
}

.button {
    background-color: black;
    border: 1px solid black;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius:4px;
  }

  .button:hover {
    cursor: pointer;
  }

  .radio:hover {
    cursor: pointer;
  }

#altTextParagraph {
    display: none;
    margin: auto;
    padding-top: 10px;
    width: 600px;
}

@media(max-width:1400px){
    .images {
        height:280px;
    }
}

@media(max-width:1170px){
    .images {
        height:220px;
    }
}


@media(max-width:1030px){
    .images {
        height:200px;
    }

    .the-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }

    .the-side{
        grid-row-start: 2;
        grid-column-start: 1;
    }
    
    .grid2 {
        grid-row-start: 2;
        grid-column-start: 1;
    }
}

@media(max-width:600px){
    .images {
        height:100px;
    }

    h1 {
        font-size:28px;
    }

    #altTextParagraph {
        display: none;
        margin: auto;
        width: auto;
    }
}